html {
  overflow-x: hidden;
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: #02aab0;
  background: linear-gradient(135deg, #02aab0 40%, #2B7594 60%, #000000 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  background-size: 100% 100%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 10%;
}

// .brand {
//   color: #363636 !important;
// }
.nav-link {
  transition: color, 0.2s;
  padding-left: 1%;
  padding-right: 1%;
  margin-left:1%;
  margin-right:1%;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.4s;
  margin: 4px;
  // box-shadow: 0 0 10px #255784, 0 0 40px #255784, 0 0 10px #255784;
  // text-shadow: 1.25px 0px 1px black, -1.25px 0px 1px black, 0px 1.25px 1px black, 0px -1.25px 1px black;
  &:hover {
    transform: scale(1.06);
    // overflow: hidden;
    color: rgb(169, 255, 255);
    // text-shadow: 1.25px 0px 0px #00ffea, -1.25px 0px 0px #00ffea, 0px 1.25px 0px #00ffea, 0px -1.25px 0px #00ffea;
    padding-left: 5px;
    padding-right: 5px;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  background: rgba( 255, 255, 255, 0.5 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // backdrop-filter: blur( 8.0px );
  // -webkit-backdrop-filter: blur( 8.0px );
  border-radius: 10px;
  // border: 1px solid rgba( 255, 255, 255, 0.18 );

  align-items:space-between;
  justify-content:space-between;
  height: calc(100% - 20px);
  transform-style: preserve-3d;
  // background: -webkit-linear-gradient(120deg, rgba(233, 184, 184, 0.2), rgba(255, 255, 255, 0.6));
  // background-color:  rgba(234, 0, 255,0.01);
  // box-shadow:
    // inset 20px 0 80px rgb(0, 217, 255),
    // inset -20px 0 80px #0ff,
    // inset 20px 0 300px rgb(0, 255, 213),
    // 0 0 50px #fff,
    // 10px 0 20px #0ff;
    // color: #1a1c22;
}

.achievementscard {
  padding: 2%;
  // margin: 1%;
  // align-items:space-between;
  // justify-content:space-between;
  height: calc(100% - 10px);
  
  // background: -webkit-linear-gradient(120deg, rgba(237, 34, 255, 0.2), rgba(215, 145, 255, 0.8));
  // transform-style: preserve-3d;
  // box-shadow: 0 0 10px turquoise, 0 0 4px turquoise, 0 0 5px turquoise;
  // border: 1px solid rgb(0, 183, 255);
  border-radius: 10px;
  // background-color:  rgb(0, 255, 213);
  // box-shadow:
  //   inset 20px 0 80px rgb(0, 217, 255),
  //   inset -20px 0 80px #0ff,
  //   inset 20px 0 300px rgb(0, 255, 213),
  //   0 0 50px #fff,
  //   10px 0 20px #0ff;
}

.skills-tabs {
  flex-grow: 1;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}

.skills-icons {
  border-radius: 10%;
  // box-shadow: 0 0 8px #6f02b8, 0 0 8px #6f02b8, 0 0 8px #6f02b8;

}

.skills {
  background: rgba(69, 117, 117, 0.46);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.1s;
  // color:rgb( 0, 250, 250);
}

.navbar-white {
  // background-color: rgba(255, 255, 255, 0.96);
  background: rgba(56, 211, 216, 0.4);
  backdrop-filter: blur( 20px );
  transition: background-color 0.1s;

}

.navbartext{
  color:rgb(241, 241, 241) !important;
  &:hover {
    color: #00ffff !important;
    // background: #00fffb;
  }
}
.navbartextwhite{
  color:rgb(0, 0, 0) !important;
  &:hover {
    color: #fffefe !important;
    // background: #00fffb;
    // border: 2px solid #000000;
  }
}

.navbarbuttons {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1.6vw;
  margin-right:1.6vw;
  color: #02aab0 !important;
  border: 2px solid #11e2df;
  &:hover {
    color: #000000 !important;
    background: #00fffb;
    border: 2px solid #000000;
  }
}

.vertical-timeline-element-content {
  box-shadow: 0 0.0em 0.0em 0 rgba( 0, 0, 0, 0.25 ), 0 0.1em 0.5em 0 rgba( 0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}



.timeline-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  // color: white;
}



.timeline .timeline-title {
  // font-size: 5em;
  font-weight: 700;
  // color: #8f00d1;
  color: #affaff;
}

.timeline .timeline-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.timeline .timeline-item .timeline-box {
  // line-height: 20px;
  // font-size: 1.2em;
  // background: #5234795d;
  padding: 16px 16px;
  // display: inline-block;
  font-weight: 600;
  // margin-bottom: 10px;
}


.timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.timeline-date {
  font-size: 12px;
  // color: rgb(242, 242, 242);
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.aboutme_img {
  z-index: 2;
  width: 360px;
  height: 360px;
  border-radius: 50%;
}



.border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  &::after {
    position: absolute;
    content: "";
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.content{
  z-index: 2;
  --border-width: 3px;

  position: relative;
  justify-content: center;
  align-items: center;
  width: 50vw;
  color: white;
  background: #000;
  border-radius: var(--border-width);
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}



.button_resume {
  // color: hsl(179, 85%, 66%);
  font-size: 20px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  &:hover {
    color: #ffffff;
    border: 1px solid black;
    background: #000000;
  }
}


.down_button {
  color: black;
  background-color: white;
  font-size: 20px;
  overflow: hidden;
  // transition: 0.2s;
  // border: 1px solid black;
  &:hover {
    border: 1px solid hsl(179, 85%, 66%);
    color: #ffffff;
    background: black;
    // box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
    // transition-delay: 0.1s;
    // border: 2px solid hsl(224, 85%, 66%);
  }
}

.projectsbutton {
  // background: rgb(230, 255, 255);
  border: 1px solid black;
  &:hover {
    color: #ffffff;
    background: black;
    // box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
    // transition-delay: 0.1s;
    // border: 2px solid hsl(224, 85%, 66%);
  }
}


.publicationsbutton {
  border: 1px solid black;
  // background: rgb(230, 255, 255);
  &:hover {
    color: #ffffff;
    background: black;
    // box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
    // transition-delay: 0.1s;
    // border: 2px solid hsl(224, 85%, 66%);
  }
}

.articlesbutton {
  // background: rgb(230, 255, 255);
  border: 1px solid black;
  &:hover {
    color: #ffffff;
    background: black;
    // box-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
    // transition-delay: 0.1s;
    // border: 2px solid hsl(224, 85%, 66%);
  }
}

// Achievements Section // // // // // // // // // // // // 

.button_achievements {
  // color: white;
  // background: white;
  // background: #02aab0;
  border: 1px solid black;
  overflow: hidden;
  font-size: 8px;
  // transition: 0.2s;
  // border: 1px solid black;
  &:hover {
    color: white;
    background: black;
    // border: 2px solid hsl(179, 85%, 66%);
    // box-shadow: 0 0 2px #255784, 0 0 2px #255784, 0 0 2px #255784;
  }
}

.achievements_images {
  margin: 4%;
  // border: 2px solid hsl(179, 100%, 50%);
  border-radius: 10px;
}


.getintouch {
  background-color: #000;
  // background: linear-gradient(135deg, #2B7594 0%, #312d0f 100%);

  // border-bottom: 10vh solid #333;
  // border-top: 30vh solid #02aab0;
  // border-left: 30vw solid #333;
  // border-right: 30vw solid #333;
  // height: 0;
  // z-index: -100;
  // width: 100px;
}









// html {
  // background: linear-gradient(135deg, #2B7594 0%, #655900 100%);
  // background: #bbb;
  // fixed;
  // overflow: hidden;
//   font-family: 'Orbitron', sans-serif;
// }



.img {
  position: fixed;
  z-index: -100;
  height: 2000vh;
  width: 2000vw;
  // top: -100vh;
  top: -900vh;
  left: -900vw;
  animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  animation-name: float;
  animation-iteration-count: infinite;
}

#img-1 {
  opacity: 0.12;
  background: url('https://image.ibb.co/jcTvpv/dust1.jpg');
  background-repeat: repeat;
  animation-duration: 600s;
  // animation-duration: 10s;
}

#img-2 {
  opacity: 0.10;
  background: url('https://image.ibb.co/goU1Uv/dust2.jpg');
  background-repeat: repeat;
  animation-duration: 400s;
  // animation-duration: 10s;
}

#img-3 {
  opacity: 0.08;
  background: url('https://image.ibb.co/cymRwa/dust3.jpg');
  background-repeat: repeat;
  animation-duration: 200s;
  // animation-duration: 10s;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
      transform:translate(800vw, 800vh);
  }
}