html {
  overflow-x: hidden;
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  background-size: 100% 100%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 10%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.brand {
  color: #363636 !important;
}
.nav-link {
  transition: color, 0.2s;
  padding-left: 1%;
  padding-right: 1%;
  margin-left:1%;
  margin-right:1%;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    transform: scale(1.06);
    // overflow: hidden;
    color: #000000;
    text-shadow: 1.25px 0px 0px #7dfff4, -1.25px 0px 0px #7dfff4, 0px 1.25px 0px #7dfff4, 0px -1.25px 0px #7dfff4;
    padding-left: 5px;
    padding-right: 5px;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  align-items:space-between;
  justify-content:space-between;
  height: calc(100% - 20px);
  transform-style: preserve-3d;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(10px);
}

.skills-tabs {
  flex-grow: 1;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}

.progress {
  transform-origin: left;
  & > * {
    transform: scaleX(0);
  }
}
.progress-bar-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}

.button {
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
}

.skills {
  background: rgba(69, 117, 117, 0.46);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
}

.navbarbuttons {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  margin-left:1%;
  margin-right:1%;
  &:hover {
    background: rgba(255, 255, 255, 1 );
  }
}

.vertical-timeline-element-content {
  box-shadow: 0 0.0em 0.0em 0 rgba( 0, 0, 0, 0.25 ), 0 0.1em 0.5em 0 rgba( 0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
}



.timeline-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  color: white;
}



.timeline .timeline-title {
  // font-size: 5em;
  font-weight: 700;
  color: #ae00ff;
}

.timeline .timeline-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.timeline .timeline-item .timeline-box {
  // line-height: 20px;
  // font-size: 1.2em;
  // background: #5234795d;
  padding: 16px 16px;
  // display: inline-block;
  font-weight: 600;
  // margin-bottom: 10px;
}


.timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline .timeline-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.timeline-date {
  font-size: 12px;
  color: rgb(242, 242, 242);
}
.achievements {
  padding-bottom: 10px;
}

.achievementsCard{
  background: -webkit-linear-gradient(120deg, rgba(124, 124, 124, 0.4), rgba(114, 114, 114, 0.4));
  align-items:space-between;
  justify-content:space-between;
  height: calc(100% - 20px);
}

.gradient_border_aboutme {
  --border-width: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: 
      linear-gradient(45deg,  rgb(0, 255, 213), yellow ),
      linear-gradient(#262626, #141414);
    box-shadow: 0px 0px 40px 0px yellowgreen;
    animation: rotate 1.6s linear infinite;
    background-size: 100% 100%;
    background-position: 0 50%;
    border-radius: 50% ;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.aboutme_img {
  z-index: 2;
  width: 360px;
  height: 360px;
  border-radius: 50% ;
}


// // // // // // // // // // // 



@import url("https://fonts.googleapis.com/css?family=Lato:300");


.border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  &::after {
    position: absolute;
    content: "";
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

.content{
  z-index: 2;
  --border-width: 3px;

  position: relative;
  justify-content: center;
  align-items: center;
  width: 50vw;
  color: white;
  background: #000;
  border-radius: var(--border-width);
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}



.button_resume {
  color: hsl(179, 85%, 66%);
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  border: 2px solid hsl(179, 85%, 66%);
  &:hover {
    color: #111111;
    background: hsl(179, 85%, 66%);
    box-shadow: 0 0 10px #255784, 0 0 40px #255784, 0 0 10px #255784;
    transition-delay: 0.1s;
    // border: linear-gradient(
    //   60deg,
    //   hsl(224, 85%, 66%),
    //   hsl(269, 85%, 66%),
    //   hsl(314, 85%, 66%),
    //   hsl(359, 85%, 66%),
    //   hsl(44, 85%, 66%),
    //   hsl(89, 85%, 66%),
    //   hsl(134, 85%, 66%),
    //   hsl(179, 85%, 66%)
    // );
  }
}