html {
  font-size: 14px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cog1 {
  left: 2.4vh;
  top: 76.5vh;
  position: fixed;
}

#cog2 {
  position: fixed;
  top: 80vh;
  height: 5vh;
  left: 0vh;
}

#cog3 {
  left: 2.4vh;
  top: 83.5vh;
  position: fixed;
}
#cog4 {
  top: 87vh;
  left: 0vh;
  position: fixed;
}

#cog5 {
  position: fixed;
  top: 90.5vh;
  left: 2.4vh;
}
#cog6 {
  top: 94vh;
  position: fixed;
  left: 0vh;
}

#cog7 {
  position: fixed;
  top: 73vh;
  left: 0vh;
}
#cog8 {
  left: 2.4vh;
  top: 69.5vh;
  position: fixed;
}

#cog9 {
  position: fixed;
  top: 66vh;
  left: 0vh;
}

#cog10 {
  left: 2.4vh;
  top: 62.5vh;
  position: fixed;
}

#cog11 {
  position: fixed;
  top: 59vh;
  left: 0vh;
}

#cog12 {
  left: 2.4vh;
  top: 55.5vh;
  position: fixed;
}

#cog13 {
  left: 4vh;
  position: fixed;
  top: 94.8vh;
}

#cog14 {
  top: 41.5vh;
  left: 2.4vh;
  position: fixed;
}

#cog15 {
  left: 0vh;
  top: 45vh;
  position: fixed;
}

#cog16 {
  top: 48.5vh;
  left: 2.4vh;
  position: fixed;
}

#cog17 {
  left: 0vh;
  top: 52vh;
  position: fixed;
}

#cog18 {
  left: 0vh;
  top: 38vh;
  position: fixed;
}

#cog19 {
  left: 2.4vh;
  position: fixed;
  top: 34.5vh;
}

#cog20 {
  left: 0vh;
  top: 31vh;
  position: fixed;
}
#cog21 {
  left: 2.4vh;
  top: 27.5vh;
  position: fixed;
}

#cog22{
  position: fixed;
  top: 24vh;
  left: 0vh;
}
#cog23 {
  top: 20.5vh;
  left: 2.4vh;
  position: fixed;
}

#cog24 {
  position: fixed;
  top: 17vh;
  left: 0vh;
}

#cog25 {
  left: 2.4vh;
  top: 13.5vh;
  position: fixed;
}

#cog26 {
  position: fixed;
  top: 10vh;
  left: 0vh;
}

#cog27 {
  left: 2.4vh;
  top: 6.5vh;
  position: fixed;
}

#cog28 {
  position: fixed;
  top: 3vh;
  left: 0;
}

#cog29 {
  left: 2.4vh;
  top: -0.5vh;
  position: fixed;
}

#cog30 {
  left: 20vh;
  position: fixed;
  top: 15.8vh;
}





#cog31 {
  right: 2.4vh;
  top: 76.5vh;
  position: fixed;
}

#cog32 {
  position: fixed;
  top: 80vh;
  height: 5vh;
  right: 0vh;
}

#cog33 {
  right: 2.4vh;
  top: 83.5vh;
  position: fixed;
}
#cog34 {
  top: 87vh;
  right: 0vh;
  position: fixed;
}

#cog35 {
  position: fixed;
  top: 90.5vh;
  right: 2.4vh;
}
#cog36 {
  top: 94vh;
  position: fixed;
  right: 0vh;
}

#cog37 {
  position: fixed;
  top: 73vh;
  right: 0vh;
}
#cog38 {
  right: 2.4vh;
  top: 69.5vh;
  position: fixed;
}

#cog39 {
  position: fixed;
  top: 66vh;
  right: 0vh;
}

#cog40 {
  right: 2.4vh;
  top: 62.5vh;
  position: fixed;
}

#cog41 {
  position: fixed;
  top: 59vh;
  right: 0vh;
}

#cog42 {
  right: 2.4vh;
  top: 55.5vh;
  position: fixed;
}

#cog43 {
  right: 4vh;
  position: fixed;
  top: 94.8vh;
}

#cog44 {
  top: 41.5vh;
  right: 2.4vh;
  position: fixed;
}

#cog45 {
  right: 0vh;
  top: 45vh;
  position: fixed;
}

#cog46 {
  top: 48.5vh;
  right: 2.4vh;
  position: fixed;
}

#cog47 {
  right: 0vh;
  top: 52vh;
  position: fixed;
}

#cog48 {
  right: 0vh;
  top: 38vh;
  position: fixed;
}

#cog49 {
  right: 2.4vh;
  position: fixed;
  top: 34.5vh;
}

#cog50 {
  right: 0vh;
  top: 31vh;
  position: fixed;
}
#cog51 {
  right: 2.4vh;
  top: 27.5vh;
  position: fixed;
}

#cog52{
  position: fixed;
  top: 24vh;
  right: 0vh;
}
#cog53 {
  top: 20.5vh;
  right: 2.4vh;
  position: fixed;
}

#cog54 {
  position: fixed;
  top: 17vh;
  right: 0vh;
}

#cog55 {
  right: 2.4vh;
  top: 13.5vh;
  position: fixed;
}

#cog56 {
  position: fixed;
  top: 10vh;
  right: 0vh;
}

#cog57 {
  right: 2.4vh;
  top: 6.5vh;
  position: fixed;
}

#cog58 {
  position: fixed;
  top: 3vh;
  right: 0;
}

#cog59 {
  right: 2.4vh;
  top: -0.5vh;
  position: fixed;
}

#cog60 {
  right: 20vh;
  position: fixed;
  top: 15.8vh;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
  /*background: linear-gradient(
    136deg,
    #4484ce,
    #1ad7c0,
    #ff9b11,
    #9b59b6,
    #ff7f7f,
    #ecf0f1
  );*/

  background-size: 1200% 1200%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s;
}
.navbar-white {
  background-color: rgba(234, 236, 239, 0.81);
  transition: background-color 0.2s;
}
.brand {
  color: #363636 !important;
}
.nav-link {
  transition: color, 0.2s;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    color: black;
    text-shadow: 1.25px 0px 0px #02ccff, -1.25px 0px 0px #02ccff, 0px 1.25px 0px #02ccff, 0px -1.25px 0px #02ccff;
    padding-left: 5px;
    padding-right: 5px;
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    box-shadow: 0 2rem 3rem rgba($black, 0.175) !important;
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}
.skills-tabs {
  flex-grow: 1;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}

.progress {
  transform-origin: left;
  & > * {
    transform: scaleX(0);
  }
}
.progress-bar-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}
